
// Buttons
// -------------------

// Overrides: atom/atom/static/buttons.less


.btn,
select.form-control {
  border-radius: 0;
  font-size: @font-size;
  transition: background .2s;
  padding: 2px 8px;
  height: auto;
}
.btn-color(@bg) {
  &.selected,
  &.selected:focus {
    background-color: darken(@bg, 15%) !important;
  }
  &:hover,
  &:focus {
    outline: none !important;
    background-color: lighten(@bg, 15%) !important;
  }
  &:active {
    background-color: darken(@bg, 15%) !important;
  }
  .color () when (lightness(@bg) > 50%) {
    color: darken(@bg, 50%) !important;
    &.selected,
    &.selected:focus {
      color: black !important;
    }
    &:hover,
    &:focus {
      color: black !important;
    }
    &:active {
      color: black !important;
    }
  }
  .color () when (lightness(@bg) <= 50%) {
    color: lighten(@bg, 50%) !important;
    &.selected,
    &.selected:focus {
      color: white !important;
    }
    &:hover,
    &:focus {
      color: white !important;
    }
    &:active {
      color: white !important;
    }
  }
  .color;
  background-color: @bg !important;
}
.btn,
select.form-control {
  .btn-color(@button-background-color)
}
// Colored buttons -----------------------
.btn.btn-primary { .btn-color(@background-color-info); }
.btn.btn-info    { .btn-color(@background-color-info); }
.btn.btn-success { .btn-color(@background-color-success); }
.btn.btn-warning { .btn-color(@background-color-warning); }
.btn.btn-error   { .btn-color(@background-color-error) }

// Button Group -----------------------
.btn-group > .btn {
  border-color: hsla(0,0%,0%,.2);
}
