
// Buttons
// -------------------

// Overrides: atom/atom/static/buttons.less


.btn,
select.form-control {
  border-radius: 0;
  font-size: @font-size;
  transition: background @transition-time;
  padding: 2px 8px;
}
.select-container .btn {
  height: 31px;
  line-height: 31px;
}
.btn-color(@bg) {
  &.selected,
  &.selected:focus {
    background-color: darken(@bg, 12%) !important;
  }
  &:hover,
  &:focus {
    outline: none !important;
    background-color: lighten(@bg, 12%) !important;
  }
  &:active {
    background-color: darken(@bg, 12%) !important;
  }
  .color () when ((5 * green(@bg) + 2 * red(@bg) + blue(@bg)) > 8 * 128) {
    &:hover,
    &:focus,
    &:active,
    &.selected {
      color: black !important;
    }
    color: darken(@bg, 40%) !important;
  }
  .color () when ((5 * green(@bg) + 2 * red(@bg) + blue(@bg)) <= 8 * 128) {
    &:hover,
    &:focus,
    &:active,
    &.selected {
      color: white !important;
    }
    color: lighten(@bg, 40%) !important;
  }
  .color;
  background-color: @bg !important;
}
.btn,
select.form-control {
  .btn-color(@button-background-color)
}
// Colored buttons -----------------------
.btn.btn-primary { .btn-color(@background-color-info); }
.btn.btn-info    { .btn-color(@background-color-info); }
.btn.btn-success { .btn-color(@background-color-success); }
.btn.btn-warning { .btn-color(@background-color-warning); }
.btn.btn-error   { .btn-color(@background-color-error) }

// Button Group -----------------------
.btn-group > .btn {
  border-color: hsla(0,0%,0%,.2);
}
