
// Git
// -------------------

// Used to color git status

.status-added    {
  .is-selected &,
  .selected &,
  &.is-selected,
  &.selected {
    .color() when (@accent-color-is-dark >= 1) {
      color: @text-color-success !important;
    }
    .color() when (@accent-color-is-dark < 1) {
      color: darken(@text-color-success, 40%) !important;
    }
    &:before {
      .color;
    }
  }
} // green
.status-ignored  {
  color: @text-color-subtle !important;
}  // faded
.status-modified {
  .is-selected &,
  .selected &,
  &.is-selected,
  &.selected {
    .color() when (@accent-color-is-dark >= 1) {
      color: @text-color-warning !important;
    }
    .color() when (@accent-color-is-dark < 1) {
      color: darken(@text-color-warning, 40%) !important;
    }
    &:before {
      .color;
    }
  }
} // orange
.status-removed  {
  .is-selected &,
  .selected &,
  &.is-selected,
  &.selected {
    .color() when (@accent-color-is-dark >= 1) {
      color: @text-color-error !important;
    }
    .color() when (@accent-color-is-dark < 1) {
      color: darken(@text-color-error, 40%) !important;
    }
    &:before {
      .color;
    }
  }
}   // red
.status-renamed  {
  .is-selected &,
  .selected &,
  &.is-selected,
  &.selected {
    .color() when (@accent-color-is-dark >= 1) {
      color: @text-color-info !important;
    }
    .color() when (@accent-color-is-dark < 1) {
      color: darken(@text-color-info, 40%) !important;
    }
    &:before {
      .color;
    }
  }
}    // blue
